.CardCadastro {
  background-color: #1AA3A1;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.CardCadastro .btns {
  margin-top: 15px;
}

.CardCadastro .btns button{
  margin: 0 5px 0 5px;
}