.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 3px black;
  border-radius: 7px;
  padding: 5px;
  width: 50%;
  margin-bottom: 30px;
}

.Card .paginacao {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Card button {
  height: 40px;
  width: 40px;
  margin: 0 1px;
}

.Card .itens {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  border: 1px solid black;
  border-radius: 7px;
  width: 80%;
  padding: 5px;
}

.Card img {
  height: 50px;
  border-radius: 100%;
}

.Card .ps {
  margin-left: 10px;
}

.Card p {
  margin: 5px 0;
}

.Card .p1 {
  font-size: 20px;
  font-weight: 900;
}

.Card .p2 {
  font-size: 15px;
  font-weight: 800;
}

.Card .p3 {
  font-size: 10px;
  font-weight: 700;
}