.Home {
  display: flex;
  flex-direction: column;
}

.Home .procurarUsers {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.Home .ramdomUsers {
  display: flex;
  justify-content: center;
  margin-top: 10px;
} 

.Home input {
  height: 40px;
  width: 50%;
  padding: 5px;
  margin-top: 10px;
}
