.Naveg {
  height: 50px;
  display: flex;
  align-items: center;
}

.Naveg nav {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Naveg a {
  text-decoration: none;
  margin: 5px 10px;
  background-color: #1AA3A1;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
}